
<div class="categories-page-container" data-controller="filter">
  <!-- Category Buttons (Links or buttons for each category) -->
  <div class="categories-page-menu">
    <h6 class="mb-5">Select a Category</h6>
    <h4>
    <button class="btn btn-primary button card" style="background: #564dfe; color: #fff;" data-filter-target="vinyl" data-action="click->filter#click">Vinyl</button>
    </h4>
    <h4>
    <button class="btn btn-primary button card" style="background: #8492c4; color: #fff;" data-filter-target="cassette-tape" data-action="click->filter#click">Cassette</button>
    </h4>
    <h4>
    <button class="btn btn-primary button card" style="background: #ec5ac9; color: #fff;" data-filter-target="cd" data-action="click->filter#click">CD</button>
    </h4>
    <h4>
    <button class="btn btn-primary button card" style="background: #ffec57; color: #fff;" data-filter-target="old-stuff" data-action="click->filter#click">Old Stuff</button>
    </h4>
    </div>


  <!-- Products Grid Section  -->
  <section class="products-section">
    <section class="category-title">
      <h1> <%= params[:category] ? params[:category].capitalize : "all products" %></h1>
    <div class="products-grid">
      <% @products.each do |product| %>
        <div class="product-card" data-filter-target="card" data-category="<%= product.category %>">
          <div class="product-image">
            <% if product.photo.attached? %>
              <%= image_tag product.photo, alt: product.name %>
            <% else %>
              <img src="https://via.placeholder.com/300?text=No+Image" alt="<%= product.name %>" />
            <% end %>
          </div>

          <h3 class="product-title">
            <%= product.name %>
          </h3>
          <p class="product-price">
            <span class="currency">R$</span>
            <%= product.price %>
          </p>
          <%= link_to 'buy', product_path(product), class: 'button-card' %>
        </div>
      <% end %>
    </div>
  </section>
</div>
