<%#
<section class="section-wrapper destaque-section">
    <h2 class="section-title">Antes de mais nada,
   o que você deseja anunciar?</h2>
</section>



<%# <% if params[:category] = "vynil"%>
<%#

  <div class="categories-container">
    <%= link_to products_path, class: "category-box vinil" do %>
    <%# Vinil %>
    <%# <% end %>
    <%# <%= link_to products_path, class: "category-box cassete" do %>
    <%# Cassete %>
     <%# <% end %>
    <%# <%= link_to products_path, class: "category-box cd" do %> %>
    <%# CD %>
    <%# <% end %>
    <%# <%= link_to products_path, class: "category-box old-stuff" do %> %>
    <%# Old Stuff %>
    <%# <% end %>
<%# </div> %>



<%# <div class="categories-container">
  <%= link_to products_path, class="category-box" style="background: #564dfe; color: #fff;" %>
    <%# Vinil %>
  <%# <%= link_to products_path class="category-box" style="background: #8492c4; color: #fff;" %>
    <%# Cassete
   <%# <%= class="category-box" style="background: #ec5ac9; color: #fff;" %>
    <%# CD
  <%= class="category-box" style="background: #ffec57; color: #000;" %>
    <%# Old Stuff %>
  <%# </div>
</div> %> 
