

  <!-- Destaques section -->
<section class="section-wrapper destaque-section">
  <h2 class="section-title">Top Picks</h2>
    <div class="featured-albums">

      <img src="https://www.udiscovermusic.com/wp-content/uploads/2020/08/Lost-Berlin-820x820.jpg" alt="Ella Fitzgerald album" />
      <img src="https://m.media-amazon.com/images/I/811qGlvATJL._UF1000,1000_QL80_.jpg" alt="The Beatles album" />

    </div>
</section>
<div>
  <!-- Categories section  -->
  <%= render "shared/categories" %>
</div>

<div>
  <%= render "shared/novidades" %>
</div>

  <!-- Big Image & Quote -->
<section class="section-wrapper split-section">
  <div class="quote-box">
    <div>
      <blockquote>
        “Vinyl is an art form. You can take the record, put it on your turntable, and listen to the music, but you can also look at the cover design, read the lyrics, and really engage with what's happening there. It's not just about listening to the music, it's about the whole experience.”
      </blockquote>
       <div class="author">
          Jack White — Singer e Composer
        </div>
    </div>
  </div>
  </section>
<main>
  <section class="products-section mb-5">
    <div class="products-grid">
      <% @products.each do |product| %>
        <div class="product-card">
          <div class="product-image">
              <% if product.photo.attached? %>
                <%= cl_image_tag product.photo.key, height: 300, width: 400, crop: :fill %>
              <% elsif product.category.downcase == "vinyl" %>
                <%= image_tag("vinil.jpg") %>
              <% elsif product.category.downcase == "cd" %>
                <%= image_tag("cd.jpg") %>
              <% elsif product.category.downcase == "cassette" %>
                <%= image_tag("cassete.jpg") %>
              <% elsif product.category.downcase == "old stuff" %>
                <%= image_tag("radio.jpg") %>
              <% end %>
          </div>

          <h3 class="product-title">
            <%= product.name %>
          </h3>
          <p class="product-price">
            <span class="currency">$</span>
            <%= product.price %>
          </p>
          <%= link_to 'buy', product_path(product), class: 'button-card' %>
        </div>
      <% end %>
    </div>
  </section>
</main>

<%# </div> %>
<%#
<div class="container">
  <%# <h1>Products</h1>

  <div id='products'>
    <% @products.each do |product| %>
      <%# <p><%= product.name %>
      <%# <p><%= product.category %>
      <%# <p><%= product.description %>
      <%# <p><%= product.price</p> %>
      <%# <p> %>
        <%# <%= link_to 'Show this product', product %>
      <%# </p> %>
      <%# <% end %>
  <%# </div> %>
<%# </div> %>
