

 <% unless params[:query].present? %> <!-- Destaques section -->
  <div class="search-home">
<section class="section-wrapper destaque-section">
  <h2 class="section-title">Top Picks</h2>
  <div class="featured-albums">

    <!-- Imagem de Nina Simone, chamando a imagem diretamente da pasta de assets -->
    <%= link_to product_path(1) do %>
      <img src="<%= asset_path('vinyl_nina') %>" alt="Nina Simone Album" />
    <% end %>

    <!-- Imagem de Michael Jackson, chamando a imagem diretamente da pasta de assets -->
    <%= link_to product_path(2) do %>
      <img src="<%= asset_path('vinyl_michael') %>" alt="Michael Jackson Album" />
    <% end %>

  </div>
</section>

</section>
<div>
  <!-- Categories section  -->
  <%= render "shared/categories" %>
</div>

 <div>
   <%= render "shared/novidades" %>
</div>

<%# <section class="section-wrapper destaque-section">
  <h2 class="section-title">New arrivals</h2>
  <div class="news-container">
    <div class="products-grid">
      <% @new_arrivals.each do |product| %>
        <%# <div class="product-card">
          <img src="<%= product.photo_url %>
          <%# <h3><%= product.name %>
          <%# <div class="price">R$<%= product.price %>
          <%# <%= button_to 'Comprar', product_path(product), method: :post, class: 'buy-button' %> x
        <%# </div> %>
      <%# <% end %>
    <%# </div> %>
  <%# </div>
</section> %>

  <!-- Big Image & Quote -->
<div class="container-quote">
  <div class="background-box">
    <div class="image-column">
      <img class="image" src="https://images.unsplash.com/photo-1576525865260-9f0e7cfb02b3?q=80&w=2024&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Vinyl Image" />
    </div>
    <div class="text-column">
      <div class="quote">
        <h6>"Vinyl is an art form. You can take the record, put it on your turntable, and listen to the music, but you can also look at the cover design, read the lyrics, and truly engage with what’s happening there. It’s not just about listening to the music, it’s about the entire experience."</h6>
      </div>
      <div class="author-info">Jack White - Singer and Composer</div>
    </div>
  </div>
</div>


<main>
</div>
  <section class="products-section mb-5">
    <div class="products-grid">
      <% @products.each do |product| %>
        <div class="product-card">
          <div class="product-image">
              <% if product.photo.attached? %>
                <%= cl_image_tag product.photo.key, height: 300, width: 400, crop: :fill %>
              <% elsif product.category == "Vinyl" %>
                <%= image_tag("vinil.jpg") %>
              <% elsif product.category == "CD" %>
                <%= image_tag("cd.jpg") %>
              <% elsif product.category == "Cassette" %>
                <%= image_tag("cassete.jpg") %>
              <% elsif product.category == "Old Stuff" %>
                <%= image_tag("radio.jpg") %>
              <% end %>
          </div>

          <h3 class="product-title">
            <%= product.name %>
          </h3>
          <p class="product-price">
            <span class="currency">$</span>
            <%= product.price %>
          </p>
          <%= link_to 'buy', product_path(product), class: 'button-card' %>
        </div>
      <% end %>
    </div>
  </section>
</main>

<% else %>
  <section class="products-section mb-5">
    <div class="products-grid">
      <% @products.each do |product| %>
        <div class="product-card">
          <div class="product-image">
              <% if product.photo.attached? %>
                <%= cl_image_tag product.photo.key, height: 300, width: 400, crop: :fill %>
              <% elsif product.category == "vinil" %>
                <%= image_tag("vinil.jpg") %>
              <% elsif product.category == "cd" %>
                <%= image_tag("cd.jpg") %>
              <% elsif product.category == "fita cassete" %>
                <%= image_tag("cassete.jpg") %>
              <% elsif product.category == "old stuff" %>
                <%= image_tag("radio.jpg") %>
              <% end %>
          </div>

          <h3 class="product-title">
            <%= product.name %>
          </h3>
          <p class="product-price">
            <span class="currency">$</span>
            <%= product.price %>
          </p>
          <%= link_to 'buy', product_path(product), class: 'button-card' %>
        </div>
      <% end %>
    </div>
  </section>
<% end %>

<%# </div> %>
<%#
<div class="container">
  <%# <h1>Products</h1>

  <div id='products'>
    <% @products.each do |product| %>
      <%# <p><%= product.name %>
      <%# <p><%= product.category %>
      <%# <p><%= product.description %>
      <%# <p><%= product.price</p> %>
      <%# <p> %>
        <%# <%= link_to 'Show this product', product %>
      <%# </p> %>
      <%# <% end %>
  <%# </div> %>
<%# </div> %>
