
<div>
    <h2 class="section-title">Oba! Vamos adicionar um novo produto :)
    </h2>
</div>

<%# #mais tarde para adicionar a pagina de categorias (bia) %>
<%# <% if params[:category] = "vynil"%>
<%#
  <div class="categories-container">
    <%= link_to products_path, class: "category-box vinil" do %>
    <%# Vinil %>
    <%# <% end %>
    <%# <%= link_to products_path, class: "category-box cassete" do %>
    <%# Cassete %>
     <%# <% end %>
    <%# <%= link_to products_path, class: "category-box cd" do %>
    <%# CD %>
    <%# <% end %>
    <%# <%= link_to products_path, class: "category-box old-stuff" do %>
    <%# Old Stuff %>
    <%# <% end %>
<%# </div> %>

<div>
   <%= render "forms" %>
</div>
