<%# <% raise %>
<% unless @my_products.empty? %>

  <div class="container">
    <h1>My Products</h1>
      <div class="products-grid">

        <% @my_products.each do |product| %>
          <div class="product-card">
            <div class="product-image">
              <% if product.photo.attached? %>
                <%= cl_image_tag product.photo.key, height: 300, width: 400, crop: :fill %>
              <% elsif product.category == "vinil" %>
                <%= image_tag("vinil") %>
              <% elsif product.category == "cd" %>
                <%= image_tag("cd") %>
              <% elsif product.category == "fita cassete" %>
                <%= image_tag("cassete") %>
              <% elsif product.category == "old stuff" %>
                <%= image_tag("radio") %>
              <% end %>

            </div>
            <h3 class="product-title">
              <%= product.name %>
            </h3>
            <p class="product-price">
              <span class="currency">R$</span>
                <%= product.price %>
            </p>
            <div class="format-edit-delete-icons">
              <%= link_to 'edit', edit_product_path(product), class: 'button-card button-icon' %>
              <%= link_to product_path(product), class: "button-card trash-incon", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  do %>
                <i class="fa-solid fa-trash-can"></i>
              <% end %>
              <%# <%= link_to 'delete', edit_product_path(product), class: 'button-card button-icon' %>
              </div>
          </div>

        <% end %>
<% else %>
  <h1>You don't have any products yet.</h1>
<% end %>
      </div>
  </div>
