<div class="container-details">
  <div class="content">
    <div class="left-box">
      <div class="border"></div>
      <div class="images-details">
  <% if @product.photo.attached? %>  <!-- Verifica se a foto está anexada -->
    <%= image_tag @product.photo, alt: "Image 1", class: "image-details" %>
    <%= image_tag @product.photo, alt: "Image 2", class: "image-details" %>
    <%= image_tag @product.photo, alt: "Image 3", class: "image-details" %>
  <% else %>
    <p>No image available</p>
  <% end %>
</div>
    </div>
    <div class="middle-box">
      <div class="color-box"></div>
      <% if @product.photo.attached? %>
      <%= image_tag @product.photo, alt: "Main Image", class: "main-image" %>
    <% else %>
    <p>No image available</p>
  <% end %>
    </div>
    <div class="right-box">
        <div class="product-info">
        <h3 class="title"><%= @product.name %></h3>
        <div class="description"><%= @product.description %>
        </p>
        <p class="price-details">
          <%= number_to_currency(@product.price) %>
        </p>
        <div class="add-to-cart">
        <%= link_to "buy", new_product_order_path(@product)  %>
        </div>
        <p class="shipping">Ready for dispatch, 1-3 business days.</p>
        </div>
    </div>
  </div>
</div>
</div>
