
<%# <div class="container">
  <p style="color: green"><%= notice %>
  <%# </p> %>
  <%# <%= render @product %>
  <%# <%= link_to "edit", edit_product_path(@product) %>
  <%# <%= button_to "Deletar", product_path(@product), method: :delete, data: { confirm: "Tem certeza?" }%> %>
<%# </div> %>

<!-- app/views/products/_product.html.erb -->

<!-- app/views/products/show.html.erb -->

<%= render "shared/product", product: @product %>

<%= link_to "Voltar para home", products_path, class: 'add-to-cart' %>
<%= link_to "Comprar", new_product_order_path(@product) %>
